.messy-layout {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.messy-layout > div {
  flex: 1;
}

.messy-layout > div {
  flex: 1;
}

@media (max-width: 900px) {
  .messy-layout {
    flex-direction: column;
  }
}
