.backdrop-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0.418);
}
.dialog-card-section{
    background-color: white;
    border-radius: 10px;
    color: black;
    min-width: 300px;
    max-width: 600px;
    padding: .8rem 1.5rem;
}
.action-buttons-modal-entry{
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.delete-btn-dialog{
  color: #c82333;
  background-color: transparent;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 10px;
}
.delete-btn-dialog:hover{
  background-color: #c82333;
  color: white;
}
.close-btn-dialog{
  color: #28a745;
  background-color: transparent;
  padding: 0.5rem;
  height: fit-content;
  border-radius: 10px;
}
.close-btn-dialog:hover{
  background-color: #28a745;
  color: white;
}


